{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          <p class="h4">Поиск</p>
        </div>
        <div class="card-body">
          <form method="get" action="{% url 'cards:card_list' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row my-3 p-3">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
              {{ field }}
              {% if field.help_text %}
                <small
                  id="{{ field.id_for_label }}-help"
                  class="form-text text-muted">
                  {{ field.help_text|safe }}
                </small>
              {% endif %}
            </div>
            {% endfor %}
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-secondary">
                Поиск
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-11 p-5">

      {% if cards %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Серия</th>
              <th scope="col">Номер</th>
              <th scope="col">Дата выпуска</th>
              <th scope="col">Дата окончания</th>
              <th scope="col">Статус</th>
            </tr>
          </thead>
        {% for card in cards %}
          <tbody>
              <tr>
                <td>
                  <a class="nav-link"
                    href="{% url 'cards:card_info' card_id=card.id %}">
                    {{ card.series|stringformat:"04d" }}
                  </td>
                <td>
                  <a class="nav-link"
                    href="{% url 'cards:card_info' card_id=card.id %}">
                    {{ card.number|stringformat:"08d" }}</td>
                <td>{{ card.issue_date|date:"d.m.Y G:i" }}</td>
                <td>{{ card.expire_date|date:"d.m.Y G:i" }}</td>
                <td>{{ card.status }}</td>
              </tr>
          </tbody>
        {% endfor %}
        </table>

      {% else %}
        Пока ни одной карты (((
      {% endif %}

    </div>
  </div>
{% endblock %}